language: cpp

compiler:
  - gcc

addons:
  apt:
    packages: libboost-all-dev

before_cache:
  - sudo chown -R travis:travis /usr/local

cache:
  directories:
    - /usr/local/include/include/sr25519
    - /usr/local/lib

install:
  # this install step will take care of deploying a newer cmake version
  # first we create a directory for the CMake binaries
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
  # we use wget to fetch the cmake binaries
  - travis_retry wget --no-check-certificate https://cmake.org/files/v3.12/cmake-3.12.2-Linux-x86_64.tar.gz
  # extract the binaries; the output here is quite lengthy,
  # so we swallow it to not clutter up the travis console
  - tar -xvf cmake-3.12.2-Linux-x86_64.tar.gz > /dev/null
  - mv cmake-3.12.2-Linux-x86_64 cmake-install
  # add both the top-level directory and the bin directory from the archive
  # to the system PATH. By adding it to the front of the path we hide the
  # preinstalled CMake with our own.
  - PATH=${DEPS_DIR}/cmake-install:${DEPS_DIR}/cmake-install/bin:$PATH
  # don't forget to switch back to the main build directory once you are done
  - cd ${TRAVIS_BUILD_DIR}

  # Install other dependencies
  - export PATH="$HOME/.cargo/bin:$PATH"
  - cmake .
  - make deps

before_script:
  # cmake was already run

script:
  # Build
  - make
  # The project uses ctest. Let's enable this later
  - make test
